<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtYu3uG9PqvJN64Ijw5tOqwrUPEljWnUw</string>
	<key>GCM_SENDER_ID</key>
	<string>664849248516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mingo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>testing-450ca</string>
	<key>STORAGE_BUCKET</key>
	<string>testing-450ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664849248516:ios:5a53253f3d05ded096e051</string>
</dict>
</plist>